/* ------------------custom css------------------ */
:root {
  --first_color: #2c3e50;
  --second_color: #e74c3c;
  --third_color: #3498db;
  --background_color: #ecf0f1;
  --text_color: #ffffff;
}

.loader {
  text-align: center;
  margin-top: 2rem;
  font-size: 50px;
}
.products_container {
  margin-top: 20px;
  display: flex;
  gap: 2%;
  justify-content: center;
}
.title {
  text-align: center;
}
.title::after {
  content: "";
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--third_color);
  margin: 10px auto;
}

.load_products_container {
  width: 75%;
  background-color: lightblue;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
.load_products {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  /* margin: 0 auto; */
  justify-content: center;
  align-items: center;
}

/* responsive load product start */

/* 1201px and more - Extra large screen */
@media (min-width: 1200px) {
  .load_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 769px - 1199px - Medium screen */
@media (min-width: 769px) and (max-width: 1199px) {
  .load_products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* responsive load product end */

/* cart summery style */
.cart_summery {
  width: 25%;
  height: 75vh;
  position: sticky;
  top: 0;
  background-color: lightsalmon;
  border-radius: 5px;
  text-align: center;
}
