/* ------------------custom css------------------ */
:root {
  --first_color: #2c3e50;
  --second_color: #e74c3c;
  --third_color: #3498db;
  --background_color: #ecf0f1;
  --text_color: #ffffff;
}
/* -----------------style for all----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "Roboto", "Montserrat", "Playfair Display", sans-serif;
}

body
{
  background-color: var(--background_color);
}